/*p{font-family: 'Merriweather', serif;
   text-align: justify;
    text-justify: inter-word;
}*/
h1{
    font-family: 'Pacifico', cursive;
     font-weight: 400; 
      text-align: justify;
    text-justify: inter-word;
    
}
p{font-family: 'Lobster', cursive;
   text-align: justify;
    text-justify: inter-word;
}
