.jumbotron{
margin-bottom: 0px;
  height: 350px;
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;
  background:transparent;
background: url('../images/light_bulb.jpg');
}
#color{
    color: orange;
}
#hover {
    background-color: chartreuse;
}
#color1{
    color: #337ab7;
}
.thumbnail{        
    width: 300px;
    height: 430px;
    overflow: auto;
    
}

